# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
pm2.log*

# Build and cache
dist/
.cache/
.out/
coverage/

# Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
